.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-image: url("../../../images/editbtn.svg");
  background-repeat: no-repeat;
  background-size: calc(10 / 24);
  background-position: center;
  margin-left: 18px;
  margin-bottom: 16px;
  /* align-self: center; */
  transition: opacity 0.5s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px ) {
.profile__edit-button {
  /* margin-left: 10px; */
  margin-bottom: 14px;
  width: 18px;
  height: 18px;
  background-size: calc(7.5/18);
position: absolute;
right: -28px;
justify-self: center;
align-self: center;}
}
