.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/Close_Icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: calc(50% + 430px / 2 + 8px);
  top: calc(50% - 330px / 2 - 8px - 32px);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 570px) {
  .popup__close {
    height: 20px;
    left: calc(50% + 282px / 2 - 20px);
    top: calc(50% - 322px / 2 - 20px - 16px);
    width: 20px;
  }
}
